---
Checks: '
bugprone-*,
cert-*,
-cert-env33-c,
clang-analyzer-*,
-clang-analyzer-security,
concurrency-*,
-concurrency-mt-unsafe,
misc-*,
performance-*,
readability-misplaced-array-index,
readability-non-const-parameter,
readability-redundant-*,
readability-simplify-*,
-modernize-deprecated-headers,
-*-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
-*-easily-swappable-parameters,
-*-no-recursion,
-*-use-nullptr,
'
HeaderFilterRegex: 'catch.hpp'
FormatStyle: 'file'
CheckOptions:
  - key: readability-function-size.LineThreshold
    value: '200'
  - key: readability-function-size.ParameterThreshold
    value: '16'
  - key: readability-function-size.StatementThreshold
    value: '400'
...
