---
Checks: '
bugprone-*,
cert-*,
clang-analyzer-*,
concurrency-*,
misc-*,
performance-*,
readability-misplaced-array-index,
readability-non-const-parameter,
readability-redundant-*,
readability-simplify-*
'
WarningsAsErrors: '*'
HeaderFilterRegex: 'catch.hpp'
FormatStyle: 'file'
CheckOptions:
  - key: readability-function-size.LineThreshold
    value: '200'
  - key: readability-function-size.ParameterThreshold
    value: '16'
  - key: readability-function-size.StatementThreshold
    value: '400'
...
